/**
 * Network Content Widgets and Shortcodes Styles for Shortcake UI.
 *
 * Implements basic styling.
 *
 * @package WP_Network_Content_Display
 */

.wpncd-network-sites
{
	background: lightyellow;
	margin: 0 0 1.625em;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.wpncd-network-sites article
{
	padding: 1.625em;
	border-bottom: 1px solid #ddd;
}

.wpncd-network-sites article h3.entry-title
{
	margin-top: 0;
}

.wpncd-network-sites article a.item-image.site-image
{
	margin-bottom: 1em;
	display: block;
	border: none;
	text-decoration: none;
}
